.MainNotFound-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}


.MainNotFound-class img{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.MainNotFound-class h1,h2{
    margin: 0;
}

.MainNotFound-class h2{
    text-align:center;
}



@media screen and (max-width: 1024px){
    .MainNotFound-class{
        row-gap: 0.5rem;
    }
    .MainNotFound-class img{
        width: 60%;
        object-fit: cover;
    }
    .MainNotFound-class h1{
        font-size: 1.5rem;
    }
    .MainNotFound-class h2{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px){
    .MainNotFound-class{
        row-gap: 1rem;
    }
    .MainNotFound-class img{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .MainNotFound-class h1{
        font-size: 1.5rem;
    }
    .MainNotFound-class h2{
        font-size: 1.2rem;
    }
}