.MainHome-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    width: 100%;
    height: 100%;
}


.MainHome-class img{
    width: 80%;
    object-fit: cover;
}

.MainHome-class h1,h2{
    margin: 0;
}

.MainHome-class h2{
    text-align:center;
}

@media (max-width :1600px){
    .MainHome-class img{
        width: 70%;
}
}

@media screen and (max-width: 1024px){
    .MainHome-class{
        row-gap: 0.5rem;
    }
    .MainHome-class img{
        width: 60%;
        object-fit: cover;
    }
    .MainHome-class h1{
        font-size: 1.5rem;
    }
    .MainHome-class h2{
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 768px){
    .MainHome-class{
        row-gap: 1rem;
    }
    .MainHome-class img{
        margin-top: 0rem;
        margin-bottom: 0rem;
    }
    .MainHome-class h1{
        font-size: 1.5rem;
    }
    .MainHome-class h2{
        font-size: 1.2rem;
    }
}