.MainHome-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 0rem;
}


.MainHome-class img{
    width: 80%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    object-fit: cover;
}

.MainHome-class h1,h2{
    margin: 0;
}

.MainHome-class h2{
    text-align:center;
}

@media (max-width :1600px){
    .MainHome-class img{
        width: 70%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
}
}