.App-class{
  margin: 10rem auto;

  position: relative;
  z-index: 1;
}

.ContainerApp-class{
  background: linear-gradient(
    to top, rgb(0,0,0,0.4), rgb(255,255,255,0.4)
  );

  width: 50vh;
  min-height: 70vh;  
  border-radius: 2rem;

  backdrop-filter: blur(4px);

  padding: 1rem ;
}